div {
    color: rgb(54, 50, 50);
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
h2 {
    color: lightblue;
}
h3 {
    color: lightgreen;
}
p {
    color: lightblue;
    border-style: solid;
    border-width: 1px;
}